{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
{% block content %}
  <div class=" d-flex justify-content-center" style="background-color: rgb(196, 196, 196);">
    <div class="container">
      <div class="info my-5">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">리뷰 제목</span>
          </div>
          <input type="text" class="form-control" value="{{ movies.title }}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span style="height: 100%;" class="input-group-text">리뷰 내용</span>
          </div>
          <textarea class="form-control" cols="30" rows="5">{{ movies.content }}</textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">영화 이름</span>
          </div>
          <input type="text" class="form-control" value="{{ movies.movie_name }}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">영화 평점</span>
          </div>
          <input type="number" class="form-control" value="{{ movies.grade }}">
        </div>
        <form action="{% url 'movies:comment_create' movies.pk %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form comment_form %}
          <input type="submit" class='btn btn-primary' value='작성'>
        </form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span style="height: 100%;" class="input-group-text">이미지</span>
          </div>
          {% if movies.image %}
            <img src="{{ movies.image.url }}" alt="{{ movies.image }}" width="400" height="300">
          {% endif %}
        </div>
        {% for comment in comments %}
          <input type="text" class="form-control" value="{{ comment.content }}">
          <form action="{% url 'movies:comment_delete' movies.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" class='btn btn-primary' value="삭제">
          </form>
          {% empty %}
          <input type="text" class="form-control" value="댓글이 없어요">
        </div>
      {% endfor %}
      <div class="review">
        <button type="submit" class="btn btn-primary">
          <a href="{% url 'movies:update' movies.pk %}" style='color:white;'>수정하기</a>
        </button>
        <button type="submit" class="btn btn-primary">
          <a href="{% url 'movies:delete' movies.pk %}" style='color:white;'>삭제하기</a>
        </button>
        <button type="submit" class="btn btn-primary">
          <a href="{% url 'movies:index' %}" style='color:white;'>홈으로</a>
        </button>
      </div>
    {% endblock %}
