{% extends 'base.html' %}

{% load static %}

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

{% block content %}
  <section>
    <div style="position: relative;">
      <img class="logo " style=" width:100%; filter: brightness(50%); z-index: -1; " src="{% static  'images/back.jpg' %}" alt="">
      <span style="font-size: 35px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -150%); color: white;">
        영화, 드라마, 예능, 다큐멘터리를 평가해보세요!
      </span>
      <span style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #cecdcd;">
        매주 다섯 여편의 작품이 평가가 되며, 직접 등록해보세요.
      </span>
      <span>
        <a href="{% url 'accounts:login' %}" class="btn btn-primary" style="width: 10%; border-radius: 5%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 100%);">작성하러가기</a>
      </span>
    </div>
    <div>
      <img class="logo " style="width:100%; filter: brightness(50%);" src="{% static  'images/back1.jpg' %}" alt="">
      <span style="font-size: 35px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 1650%); color: white;">
        여럿이 함께, 하나의 작품을!
      </span>
      <span style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 3100%); color: #cecdcd;">
        동시 리뷰를 등록하고 작품을 비교해보세요.
      </span>
      <span>
        <a href="{% url 'accounts:login' %}" class="btn btn-primary" style="width: 10%; border-radius: 5%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 2600%);">작성하러가기</a>
      </span>
    </div>
    <div>
      <img class="logo " style="width:100%; filter: brightness(50%);" src="{% static  'images/back2.jpg' %}" alt="">
      <span style="font-size: 35px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 3300%); color: white;">
        이제 리뷰로 최고의 작품을 시청하세요!
      </span>
      <span style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 6000%); color: #cecdcd;">
        동시 리뷰를 등록하고 작품을 비교해보세요.
      </span>
      <span>
        <a href="{% url 'accounts:login' %}" class="btn btn-primary" style="width: 10%; border-radius: 5%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 4900%);">작성하러가기</a>
      </span>
    </div>
    <div>
      <img class="logo " style="width:100%; filter: brightness(50%);" src="{% static  'images/back3.jpg' %}" alt="">
      <span style="font-size: 35px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 4900%); color: white;">
        스마트폰, 태블릿, TV, 등에서
      </span>
      <span style="font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 8800%); color: #cecdcd;">
        리뷰, 평점을 비교하고 즐겁게 보세요!
      </span>
      <span>
        <a href="{% url 'accounts:login' %}" class="btn btn-primary" style="width: 10%; border-radius: 5%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, 7080%);">작성하러가기</a>
      </span>
    </div>
  </section>
{% endblock content %}
