html{
    /* font-size: 16px; */
}

.parent{
    width: 300px;
    height: 200px;
    background-color: royalblue;
    font-size: 10px;
}

.child {
    width: 50vw;
    height: 50%;
    background-color: orange;
}