body {
    background-color: #f9fafc;
    margin: 60px;
  }
  
  .container {
    border: 5px dashed #cacfd9;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px 100px 200px;
    gap: 16px 32px;
  }
  
  .box {
    border-radius: 15px;
    color: #f9fafc;
    padding: 10px;
  }
  
  .red {
    background-color: #e46e80;
  }
  
  .green {
    background-color: #32b9c1;
  }
  
  .blue {
    background-color: #5195ee;
  }
  
  .purple {
    background-color: #8579ef;
  }
  
  .orange {
    background-color: #f18575;
  }
  