* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f9fafc;
    margin: 60px;
  }
  
  .container {
    border: 5px dashed #cacfd9;
    width: 500px;
    height: 500px;
    display: flex;
  }
  
  .box {
    border-radius: 15px;
    color: #f9fafc;
    padding: 10px;
    width: 300px;
  }
  
  .red {
    background-color: #e46e80;
    flex-shrink: 0;
  }
  
  .green {
    background-color: #32b9c1;
  }
  
  .blue {
    background-color: #5195ee;
    flex-shrink: 2;
  }
  