body {
    background-color: #f9fafc;
    margin: 60px;
}

.box {
    color: #f9fafc;
    padding: 30px;
    display: inline;
}

.red {
    background-color: #e46e80;
}

.blue {
    background-color: #5195ee;
}

.green {
    background-color: #32b9c1;
    position: relative;
    top: 30px;
    left: 50px;
}

.orange{
    background-color: #f18575;
}

.pulple{
    background-color: ;
}

.yellow{
    background-color: #fbc85b;
}